[mysqld]
innodb_file_per_table = 0
innodb_flush_method = O_DIRECT
innodb_buffer_pool_size = 512M
innodb_flush_log_at_trx_commit = 0
innodb_thread_concurrency = 16
innodb_additional_mem_pool_size = 32M

long_query_time=1.0
query_cache_size=512M
query_cache_type=1
thread_cache_size=4
back_log=75
max_connections=500
# key_buffer=512M
key_buffer_size=512M
myisam_sort_buffer_size=64M
join_buffer_size=64M
read_buffer_size=64M
sort_buffer_size=64M
# table_cache=1800
thread_cache_size=384
wait_timeout=7200
connect_timeout=10
tmp_table_size=256M
max_heap_table_size=256M
max_allowed_packet=256M
max_connect_errors=1000
read_rnd_buffer_size=256M
bulk_insert_buffer_size=64M
query_prealloc_size=128M
query_alloc_block_size=131072
