[submodule "vendor/Binfiles"]
	path = vendor/Binfiles
	url = gh:caius/Binfiles
[submodule "vendor/zsh-syntax-highlighting"]
	path = vendor/zsh-syntax-highlighting
	url = gh:zsh-users/zsh-syntax-highlighting
[submodule "vendor/zsh-history-substring-search"]
	path = vendor/zsh-history-substring-search
	url = gh:zsh-users/zsh-history-substring-search
