colors:
  body: none
  date: blue
  tags: green
  title: none
default_hour: 10
default_minute: 0
editor: mate -wl1
encrypt: false
highlight: true
indent_character: '  '
journals:
  default: {{ .chezmoi.homeDir }}/Sync/jrnl/journal_2021.txt
  archived_2020: {{ .chezmoi.homeDir }}/Sync/jrnl/journal_2020.txt
linewrap: 120
tagsymbols: '@'
template: false
timeformat: '%Y-%m-%d %H:%M'
version: v2.4.2
